<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pasador de Lista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pasador de Lista</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <ion-Button (click)="scan()">
    Escaner
  </ion-Button>

<div *ngFor="let datas of data;">
  {{datas}}
</div>
</ion-content>
